.chartArea {
    width: 30vw;
    height: 30vh;
    padding: 20px;
    font-family: 'Roboto';
}

.chartAreaHovered {
    display: flex;
    justify-content: space-around;
}

.bar {
    margin: 2px;
    flex-grow: 1;
    height: 100%;
    transition: flex-grow 0.2s ease-in-out;
    transition: margin 0.2s ease-in-out;
}

.bar:hover {
    margin: 0;
    flex-grow: 1.1;
}
