input[type='range'] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type='range']:focus {
    outline: none;
}
.temp::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background-image: linear-gradient(to right, rgb(0, 255, 0), rgb(255, 255, 0), rgb(255, 0, 0));
    border-radius: 5px;
    border: 0px solid #000000;
}
.param::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497e3;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid var(--primaryColor);
    height: 30px;
    width: 30px;
    border-radius: 25px;
    background: var(--secondaryColor);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}
.temp:focus::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, rgb(0, 255, 0), rgb(255, 255, 0), rgb(255, 0, 0));
}
.temp::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background-image: linear-gradient(to right, rgb(0, 255, 0), rgb(255, 255, 0), rgb(255, 0, 0));
    border-radius: 5px;
    border: 0px solid #000000;
}
.param:focus::-webkit-slider-runnable-track {
    background: var(--primaryColor);
}
.param::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: var(--primaryColor);
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type='range']::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid var(--primaryColor);
    height: 30px;
    width: 30px;
    border-radius: 25px;
    background: var(--secondaryColor);
    cursor: pointer;
}
input[type='range']::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.temp::-ms-fill-lower {
    background-image: linear-gradient(to right, rgb(0, 255, 0), rgb(255, 255, 0), rgb(255, 0, 0));
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
.temp::-ms-fill-upper {
    background-image: linear-gradient(to right, rgb(0, 255, 0), rgb(255, 255, 0), rgb(255, 0, 0));
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
.param::-ms-fill-lower {
    background: var(--primaryColor);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
.param::-ms-fill-upper {
    background: var(--primaryColor);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid var(--primaryColor);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--secondaryColor);
    cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
    background: var(--primaryColor);
}
input[type='range']:focus::-ms-fill-upper {
    background: var(--primaryColor);
}
