.timerSubmit {
    width: 100%;
    height: 50%;
    font-family: 'Roboto';
    background: none;
    font-size: 2.5rem;
    border-color: var(--primaryColor);
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    margin-top: -50px;
}
